@import "tailwindcss";

@layer base{
  body {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

@layer components{
  .buttons {
    @apply flex items-center justify-center h-[32px] w-[32px] border-[1px] border-[#D9D9D9] rounded-[5px] bg-[#282828];
  }
  .lettersBox {
    @apply flex items-center justify-center h-[64px] w-[64px] border-[1px] border-[#D9D9D9] rounded-[2px]
  }
  .letters {
    @apply font-bold text-[40px]
  }
  .words {
    @apply flex items-center justify-center gap-x-[20px]
  }
}


